body {background-color: powderblue;}
hr
{
  background-color: powderblue;
  height: 0px;
  width: 5%;
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
}
h1
{
  color: #4b778d;

}
h3
{
  color: #4b778d;
}
